/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./list.css";
@import "./event.css";

.btn
{
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.flash
{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.flash-error
{
    background-color: #f7bbb7;
}

.Search-tabs
{
    display: flex;
}

.Search-tab
{
    width: 110px;
    height: 40px;
    margin-right: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9bc1c7;
}

.Search-tab.highlight
{
    background-color: #c7f5fc;
}

.Search-search
{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}