.Event-detailsPage
{
    margin: 40px;
    font-family: Verdana, sans-serif;
}

.Event-name
{
    font-size: 30px;
}

.Event-infoTop
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.Event-infoBottom
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.Event-image
{
    height: 300px;
}

.Event-mapWrapper
{
    height: 300px;
    width: 300px;
    background-color: #d2fae6;
}

.Event-detail
{
    margin-bottom: 20px;
}

.button_to
{
    text-align: center;
}