.find-friends-table
{
    border-radius: 5px;
}

.item-friends
{
    display: flex;
    justify-content: space-between;
}

.friends-info
{
    display: flex;
}

.friends-username
{
    padding: 10px 0px 0px 10px;
}

.Dash-topWrapper
{
    display: flex;
}

.User-image
{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    object-fit: cover;
}

input[type="file"] {
    color: white;
    font-family: Verdana, sans-serif;
}