

.space-evenly {
    display: flex;
    justify-content: space-between;
}

.business-info {
    width: 600px;
}


 .Admin-container 
 {
    width: 700px;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 20px;
 }

 .Admin-eventTop
 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .Admin-title
 {
    color: white;
    font-weight: 700;
    font-size: 24px;
 }

 .login-form-label
{
    color: black;
}

.Venue-adminMap
{
    width: 100%;
}

.Venue-adminMap > #map
{
    width: 100%;
}